<div class="code-header">
  <button class="copy-code-button" onclick="clicked()">
    계좌번호 복사
  </button>
  <script>
    function clicked() {
      console.log("clicked!!");
      const codeBlocks = document.querySelectorAll('code');
      const code = codeBlocks[0].innerText;
      console.log(code);
      window.navigator.clipboard.writeText(code);
      alert("복사되었습니다");
    }
  </script>
  <div class="language-plaintext highlighter-rouge">
    <div class="highlight">
      <code>새마을금고 3560090084368</code>
    </div>
  </div> 
</div>
